In [2]:
import pandas as pd
flights = pd.read_csv("https://raw.githubusercontent.com/roberthryniewicz/datasets/master/airline-dataset/flights/flights.csv")

In [3]:
flights[flights.isnull().any(axis=1)].head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

In [13]:
flights[flights.isnull().any(axis=1)].count()

Year                 100000
Month                100000
DayofMonth           100000
DayOfWeek            100000
DepTime               98858
CRSDepTime           100000
ArrTime               98698
CRSArrTime           100000
UniqueCarrier        100000
FlightNum            100000
TailNum               98858
ActualElapsedTime     98698
CRSElapsedTime       100000
AirTime               98698
ArrDelay              98698
DepDelay              98858
Origin               100000
Dest                 100000
Distance             100000
TaxiIn                98698
TaxiOut               98858
Cancelled            100000
CancellationCode       1142
Diverted             100000
CarrierDelay          19629
WeatherDelay          19629
NASDelay              19629
SecurityDelay         19629
LateAircraftDelay     19629
dtype: int64

In [5]:
flights.head(15)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0
5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,NaN,0,10.0,0.0,0.0,0.0,47.0
7,2008,1,3,4,1039.0,1040,1132.0,1150,WN,535,...,7.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
8,2008,1,3,4,617.0,615,652.0,650,WN,11,...,6.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
9,2008,1,3,4,1620.0,1620,1639.0,1655,WN,810,...,3.0,6.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
10,2008,1,3,4,706.0,700,916.0,915,WN,100,...,5.0,19.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,NaN,0,8.0,0.0,0.0,0.0,72.0
12,2008,1,3,4,1426.0,1430,1426.0,1425,WN,829,...,9.0,12.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
13,2008,1,3,4,715.0,715,720.0,710,WN,1016,...,7.0,21.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
14,2008,1,3,4,1702.0,1700,1651.0,1655,WN,1827,...,4.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [6]:
flights.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,100000.0,100000.0,100000.000000,100000.000000,98858.000000,100000.000000,98698.000000,100000.000000,100000.000000,98698.000000,...,100000.000000,98698.000000,98858.000000,100000.000000,100000.000000,19629.000000,19629.000000,19629.000000,19629.000000,19629.000000
mean,2008.0,1.0,17.087860,3.890040,1355.200722,1341.989400,1492.739225,1502.601540,1510.648540,107.558502,...,630.586320,4.768962,10.927765,0.011420,0.001600,9.573488,2.036120,8.353151,0.110805,29.343675
std,0.0,0.0,8.356364,1.952999,464.089632,451.356984,496.376794,478.100216,1186.128598,55.350971,...,437.357075,2.983635,5.989580,0.106253,0.039968,21.836836,13.815868,18.826087,1.724888,39.753529
min,2008.0,1.0,1.000000,1.000000,1.000000,600.000000,1.000000,5.000000,1.000000,25.000000,...,66.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2008.0,1.0,10.000000,2.000000,942.000000,940.000000,1114.000000,1120.000000,502.000000,68.000000,...,324.000000,3.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,2008.0,1.0,17.000000,4.000000,1344.000000,1335.000000,1518.000000,1520.000000,1320.000000,88.000000,...,453.000000,4.000000,9.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,18.000000
75%,2008.0,1.0,24.000000,5.000000,1743.000000,1730.000000,1913.000000,1910.000000,2362.000000,135.000000,...,843.000000,5.000000,12.000000,0.000000,0.000000,11.000000,0.000000,10.000000,0.000000,37.000000
max,2008.0,1.0,31.000000,7.000000,2359.000000,2235.000000,2400.000000,2355.000000,7676.000000,382.000000,...,2363.000000,213.000000,150.000000,1.000000,1.000000,431.000000,267.000000,366.000000,88.000000,434.000000

In [7]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 29 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Year               100000 non-null  int64
 1   Month              100000 non-null  int64
 2   DayofMonth         100000 non-null  int64
 3   DayOfWeek          100000 non-null  int64
 4   DepTime            98858 non-null   float64
 5   CRSDepTime         100000 non-null  int64
 6   ArrTime            98698 non-null   float64
 7   CRSArrTime         100000 non-null  int64
 8   UniqueCarrier      100000 non-null  object
 9   FlightNum          100000 non-null  int64
 10  TailNum            98858 non-null   object
 11  ActualElapsedTime  98698 non-null   float64
 12  CRSElapsedTime     100000 non-null  int64
 13  AirTime            98698 non-null   float64
 14  ArrDelay           98698 non-null   float64
 15  DepDelay           98858 non-null   float64
 16  Origin             100000 non-null  object
 17  Dest               100000 non-null  object
 18  Distance           100000 non-null  int64
 19  TaxiIn             98698 non-null   float64
 20  TaxiOut            98858 non-null   float64
 21  Cancelled          100000 non-null  int64
 22  CancellationCode   1142 non-null    object
 23  Diverted           100000 non-null  int64
 24  CarrierDelay       19629 non-null   float64
 25  WeatherDelay       19629 non-null   float64
 26  NASDelay           19629 non-null   float64
 27  SecurityDelay      19629 non-null   float64
 28  LateAircraftDelay  19629 non-null   float64
dtypes: float64(13), int64(11), object(5)
memory usage: 22.1+ MB

In [14]:
flights[['SecurityDelay','LateAircraftDelay']].agg(['min','mean','max'])

      SecurityDelay  LateAircraftDelay
min        0.000000           0.000000
mean       0.110805          29.343675
max       88.000000         434.000000